<input type="text" [(ngModel)]="firstName" name="firstName" placeholder="First name">
<input type="text" [(ngModel)]="secondName" name="secondName" placeholder="Second name">
<input type="text" [(ngModel)]="phoneNum" name="phoneNum" placeholder="Phone number">
<input type="text" [(ngModel)]="mobileNum" name="mobileNum" placeholder="Mobile number">
<input type="text" [(ngModel)]="email" name="email" placeholder="Email address">
<input type="text" [(ngModel)]="homeAddress" name="homeAddress" placeholder="Home address">
<input type="text" [(ngModel)]="streetName" name="streetName" placeholder="Street name">
<input type="text" [(ngModel)]="city" name="city" placeholder="City">
<input type="text" [(ngModel)]="province" name="province" placeholder="Province">
<input type="text" [(ngModel)]="country" name="country" placeholder="Country">
<input type="submit" value="Add a Contact" (click)="addContact()">

<ul *ngFor="let contact of contacts | async">
  <li (click)='getContact(contact.id)'>
    <strong>{{ contact.data.firstName}} {{ contact.data.secondName }} (<a href="#" (click)="deletePost(contact.id)">delete</a>)</strong>
    <br>
    {{contact.data.phoneNum}}
    <br>
    {{contact.data.mobileNum}}
    <br>
    {{contact.data.email}}
    <br>
    <span>{{contact.data.homeAddress}}, 
      {{ contact.data.streetName }}, 
      {{ contact.data.city }}, 
      {{ contact.data.province }}, 
      {{ contact.data.country }}
    </span>
  </li>
</ul>

<h1>A specific contact:</h1>

  <h3>{{ (singleContact | async)?.firstName }} {{ (singleContact | async)?.secondName }}</h3>
  <p>{{ (singlePost | async)?.phoneNum }}</p>